<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      lang="en" xml:lang="en">
<head th:replace="~{_fragments :: head}"></head>
<body>
<main class="body">
    <header th:replace="~{_fragments :: #header}"></header>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3">
                <img src="/images/fudosan/photo.png"/>
            </div>
            <div class="col-md-6">
                <p th:utext="#{fudosan.index.text}"></p>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getPlanetId()}">
            <button type="button" onclick="window.location.href='/data-bank/select';" class="btn btn-primary" th:text="#{fudosan.apply}"></button>
        </div>
        <div sec:authorize="isAuthenticated()" th:unless="${#authentication.getPrincipal().getPlanetId()}">
            <button type="submit" class="btn btn-primary" disabled th:text="#{fudosan.apply}"></button>
        </div>
    </div>
</main>

<div th:replace="~{_fragments :: footer}"></div>
</body>
</html>
